<!doctype html>
<html id="ng-app"  xmlns:ng="http://angularjs.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" >
<title>增值税减免税申报明细表</title>
</head>
<body>
<div style="width:96%; margin:auto;" id="viewCtrlId" ng-controller="viewCtrl">
<div class="NewTableHead" ng-jprefix="qcs.initData.zzsxgmsbInitData.sssq">
     <h1>增值税减免税申报明细表</h1>
    <li class="dateTxt">税款所属期
	    <input type="text" datatype="date" jflag="1" readonly="true" style="width:100px; height:20px;" ng-model="sssq.rqQ" class="topInput"> 
	   	至
	   	<input type="text" datatype="date" jflag="1" readonly="true" style="width:100px; height:20px;" ng-model="sssq.rqZ" class="topInput"> 
   	</li>
</div>

<div class="NewTableTop">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr ng-jprefix="qcs.initData.nsrjbxx">
    <td>纳税人名称（公章）：
    	<span class="textline" ng-bind="nsrjbxx.nsrmc"></span>
    </td>
    <td align="right">纳税人识别号：
    	<span class="textline" ng-bind="nsrjbxx.nsrsbh"></span>
    </td>
  </tr>
  <tr ng-jprefix="qcs.initData.zzsxgmsbInitData">
    <td>填表日期：
    	<span class="textline" ng-bind="zzsxgmsbInitData.sbrq"></span>
    </td>
    <td align="right">金额单位：元（列至角分）</td>
  </tr>
</table>
</div>

<div class="NewTableMain">
<table width="100%" border="0" cellspacing="1" cellpadding="0"  class = "zzssyyxgmnsrySbSbbdxxVO.zzsjmssbmxb.jsxmGrid">
    <tr>
      <td colspan="8" align="center" class="title01"><strong>一、减税项目</strong></td>
    </tr>
    <tr>
      <td colspan="2" rowspan="2" align="center" class="title01" style="width:30%;">减税性质代码及名称</td>
      <td rowspan="2" align="center" class="title01">栏次</td>
      <td align="center" class="title01">期初余额</td>
      <td align="center" class="title01">本期发生额</td>
      <td align="center" class="title01">本期应抵减税额</td>
      <td align="center" class="title01">本期实际抵减税额</td>
      <td align="center" class="title01">期末余额</td>
    </tr>
    <tr>
      <td align="center" class="title01">1</td>
      <td align="center" class="title01">2</td>
      <td align="center" class="title01">3=1+2</td>
      <td align="center" class="title01">4≤3</td>
      <td align="center" class="title01">5=3-4</td>
    </tr>
    <tr ng-jprefix="zzssyyxgmnsrySbSbbdxxVO.zzsjmssbmxb.zzsjmssbmxbjsxmGrid">
      <td colspan="2" align="center" class="title01">合计</td>
      <td align="center" class="title01"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbjsxmGrid.qcyehj"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbjsxmGrid.bqfsehj"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbjsxmGrid.bqydjsehj"></td>
      <td class="read right"><input jflag="1" readonly="true"  type="text" datatype="number" ng-model="zzsjmssbmxbjsxmGrid.bqsjdjsehj"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbjsxmGrid.qmyehj"></td>
    </tr>
      <tr ng-jprefix="zzssyyxgmnsrySbSbbdxxVO.zzsjmssbmxb.zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO">
        <td  colspan="2" >
        	<select mode="mix" jflag="1" ng-model="zzsjmssbmxbjsxmGridlbVO.hmc" xpath="../xml/nf_dm_sb_zzs_jsxzdm.xml" zpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.dmmc">
			</select>
		</td>
	  <td align="center" class="title01"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" ng-model="zzsjmssbmxbjsxmGridlbVO.qcye"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" ng-model="zzsjmssbmxbjsxmGridlbVO.bqfse"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbjsxmGridlbVO.bqydjse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" ng-model="zzsjmssbmxbjsxmGridlbVO.bqsjdjse"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbjsxmGridlbVO.qmye"></td>
      </tr>
     <!--  
     <tr>
        <td  colspan="2" >
        	<select mode="mix" jflag="1" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.hmc" xpath="../xml/nf_dm_sb_zzs_jsxzdm.xml" zpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.dmmc">
			</select>
		</td>
		
	  <td align="center" class="title01"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.qcye"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqfse"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqydjse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqsjdjse"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.qmye"></td>
      </tr>
     <tr >
        <td  colspan="1" >
        	<select mode="mix" jflag="1" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.hmc" xpath="../xml/nf_dm_sb_zzs_jsxzdm.xml" zpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.dmmc">
			</select>
			<input jflag="1"  type="text" datatype="string" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.hmc">
			</td>
	  <td align="center" class="title01">3</td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.qcye"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqfse"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqydjse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqsjdjse"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.qmye"></td>
      </tr>
       <tr group="1">
        <td  colspan="1" >
        	<select mode="mix" jflag="1" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.hmc" xpath="../xml/nf_dm_sb_zzs_jsxzdm.xml" zpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.dmmc">
			</select>
			<input jflag="1"  type="text" datatype="string" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.hmc">
			</td>
	  <td align="center" class="title01">4</td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.qcye"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqfse"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqydjse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqsjdjse"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.qmye"></td>
      </tr>
      <tr group="1">
        <td  colspan="1" >
        	<select mode="mix" jflag="1" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.hmc" xpath="../xml/nf_dm_sb_zzs_jsxzdm.xml" zpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.dmmc">
			</select>
			<input jflag="1"  type="text" datatype="string" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.hmc">
	  <td align="center" class="title01">5</td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.qcye"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqfse"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqydjse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.bqsjdjse"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.qmye"></td>
      </tr>
     <tr group="1">
       <td  colspan="1" >
       		<select mode="mix" jflag="1" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.hmc" xpath="../xml/nf_dm_sb_zzs_jsxzdm.xml" zpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.dmmc">
			</select>
			<input jflag="1"  type="text" datatype="string" jpath="zzsjmssbmxbjsxmGrid.zzsjmssbmxbjsxmGridlbVO.hmc">
			</td>
      <td align="center" class="title01">6</td>
      <td class="edit right"><input jflag="1" datatype="number" jpath="" name="textfield" type="text" id="textfield" value="0.00"></td>
      <td class="edit right"><input jflag="1" datatype="number" jpath="" name="textfield" type="text" id="textfield" value="0.00"></td>
      <td class="read right"><input jflag="1" datatype="number" jpath="" name="textfield" type="text" id="textfield" value="0.00" readonly></td>
      <td class="edit right"><input jflag="1" datatype="number" jpath="" name="textfield" type="text" id="textfield" value="0.00"></td>
      <td class="read right"><input jflag="1" datatype="number" jpath="" name="textfield" type="text" id="textfield" value="0.00" readonly></td>
      </tr> -->
    </table>
    <table width="100%" border="0" cellspacing="1"  cellpadding="0"    class = "zzssyyxgmnsrySbSbbdxxVO.zzsjmssbmxb.msxmGrid">
    
    <tr>
      <td colspan="8" align="center" class="title01"><strong>二、免税项目</strong></td>
    </tr>
    <tr>
      <td colspan="2" rowspan="2" align="center" class="title01" style="width:30%;">免税性质代码及名称</td>
      <td rowspan="2" align="center" class="title01">栏次</td>
      <td align="center" class="title01">免征增值税项目<br>
        销售额</td>
      <td align="center" class="title01">免税销售额扣除项目<br>
        本期实际扣除金额</td>
      <td align="center" class="title01">扣除后免税销售额</td>
      <td align="center" class="title01">免税销售额对应的<br>
        进项税额</td>
      <td align="center" class="title01">免税额</td>
    </tr>
    <tr>
      <td align="center" class="title01">1</td>
      <td align="center" class="title01">2</td>
      <td align="center" class="title01">3=1-2</td>
      <td align="center" class="title01">4</td>
      <td align="center" class="title01">5</td>
    </tr>
    <tr ng-jprefix="zzssyyxgmnsrySbSbbdxxVO.zzsjmssbmxb.zzsjmssbmxbmsxmGrid">
      <td colspan="2" align="center" class="title01">合  计</td>
      <td align="center" class="title01"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGrid.mzzzsxmxsehj"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGrid.bqsjkcjehj"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGrid.kchmsxsehj"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGrid.msxsedyjxsehj"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGrid.msehj"></td>
      </tr>
    <tr ng-jprefix="zzsjmssbmxbmsxmGrid">
      <td colspan="2" align="center" class="title01">出口免税</td>
      <td align="center" class="title01"></td>
      <td class="read right"><input jflag="1"  type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGrid.ckms" readonly="true"></td>
      <td class="read mid"><input jflag="1"  type="text" datatype="number" ng-model="" value="--"  readonly="true"></td> 
      <td class="read mid"><input jflag="1"  type="text" datatype="number" ng-model="" value="--"  readonly="true"></td>
      <td class="read mid"><input jflag="1"  type="text" datatype="number" ng-model="" value="--"  readonly="true"></td>
      <td class="read mid"><input jflag="1"  type="text" datatype="number" ng-model="" value="--"  readonly="true"></td>
      </tr>
          <tr ng-jprefix="zzsjmssbmxbmsxmGrid">
      <td colspan="2" align="center" class="title01">其中:跨境服务</td>
      <td align="center" class="title01"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGrid.kjfw"></td>
      <td class="read mid"><input jflag="1"  type="text" datatype="number" ng-model="" value="--"  readonly="true"></td> 
      <td class="read mid"><input jflag="1"  type="text" datatype="number" ng-model="" value="--"  readonly="true"></td>
      <td class="read mid"><input jflag="1"  type="text" datatype="number" ng-model="" value="--"  readonly="true"></td>
      <td class="read mid"><input jflag="1"  type="text" datatype="number" ng-model="" value="--"  readonly="true"></td>
      </tr>
      <tr ng-jprefix="zzssyyxgmnsrySbSbbdxxVO.zzsjmssbmxb.zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO">
        <td  colspan="2" >
        	<select mode="mix" jflag="1" ng-model="zzsjmssbmxbmsxmGridlbVO.hmc" xpath="../xml/nf_dm_sb_zzs_msxzdm.xml" zpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.dmmc">
			</select>
			</td>
      <td align="center" class="title01"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGridlbVO.mzzzsxmxse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGridlbVO.bqsjkcje"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGridlbVO.kchmsxse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGridlbVO.msxsedyjxse"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" ng-model="zzsjmssbmxbmsxmGridlbVO.mse"></td>
      </tr>
       <!--   
       <tr group="8">
        <td  colspan="1" >
        	<select mode="mix" jflag="1" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.hmc" xpath="../xml/nf_dm_sb_zzs_msxzdm.xml" zpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.dmmc">
			</select>
			<input jflag="1"  type="text" datatype="string" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.hmc">
			</td>
<td align="center" class="title01">10</td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.mzzzsxmxse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.bqsjkcje"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.kchmsxse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.msxsedyjxse"></td>
      <td class="edit right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.mse"></td>
      </tr>
     <tr group="8">
        <td  colspan="1" >
        	<select mode="mix" jflag="1" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.hmc" xpath="../xml/nf_dm_sb_zzs_msxzdm.xml" zpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.dmmc">
			</select>
			<input jflag="1"  type="text" datatype="string" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.hmc">
			</td>
	  <td align="center" class="title01">11</td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.mzzzsxmxse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.bqsjkcje"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.kchmsxse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.msxsedyjxse"></td>
      <td class="edit right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.mse"></td>
      </tr>
          <tr group="8">
        <td  colspan="1" >
        	<select mode="mix" jflag="1" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.hmc" xpath="../xml/nf_dm_sb_zzs_msxzdm.xml" zpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.dmmc">
			</select>
			<input jflag="1"  type="text" datatype="string" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.hmc">
			</td>
	  <td align="center" class="title01">12</td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.mzzzsxmxse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.bqsjkcje"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.kchmsxse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.msxsedyjxse"></td>
      <td class="edit right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.mse"></td>
      </tr>
     <tr group="8">
        <td  colspan="1" >
        	<select mode="mix" jflag="1" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.hmc" xpath="../xml/nf_dm_sb_zzs_msxzdm.xml" zpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.dmmc">
			</select>
			<input jflag="1"  type="text" datatype="string" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.hmc"></td>
	  <td align="center" class="title01">13</td>
      <td class="edit right"><input name="text"  type="text" jflag="1" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.mzzzsxmxse" /></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.bqsjkcje"></td>
      <td class="read right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.kchmsxse"></td>
      <td class="edit right"><input jflag="1"  type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.msxsedyjxse"></td>
      <td class="edit right"><input jflag="1" readonly="true" type="text" datatype="number" jpath="zzsjmssbmxbmsxmGrid.zzsjmssbmxbmsxmGridlbVO.mse"></td>
      </tr> -->
  </table>
</div>

</div>
</body>
</html>
