<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>附加税（费）申报信息</title>
<link rel="stylesheet" type="text/css" href="../../../style/green/css/table.css">
<script src="../../../js/ecm-taglib/jquery/jquery.min.js"></script>
<script src="../../../js/nssb/common/sb_common.js"></script>
<script src="../../../js/nssb/taxHandle/sb_xfsdcl.js"></script>
</head>

<body>
<div style="width:96%; margin:auto;"id="xfssbSbbdxxVO.xfsFjs.fjssbxx.fjssbxxGrid">
<div class="NewTableHead">
     <h1>附加税（费）申报信息							</h1>
</div>
<div class="NewTableMain">
  <table width="100%" border="0" cellspacing="1" cellpadding="0">
    <tr>
      <td class="title01" align="center"><strong>税源编号</strong></td>
      <td class="title01" align="center"><strong>征收项目</strong></td>
      <td class="title01" align="center" ><strong>征收品目</strong></td>
      <td class="title01" align="center"><strong>计税依据</strong></td>
      <td class="title01" align="center"><strong>税率</strong></td>
      <td class="title01" align="center"><strong>本期应纳税额</strong></td>
      <td class="title01" align="center"><strong>减免税额</strong></td>
      <td class="title01" align="center"><strong>本期应补（退）税额</strong></td>
    </tr>
      <tr>
        <td class="read mid"><input jflag="1" ng-datatype="number" ng-model="fjsxxGridlb.sybh" name="textfield" type="text" id="textfield" value="" readonly></td>
        <td class="read mid"><input jflag="1" ng-datatype="number" ng-model="fjsxxGridlb.zsxmDm" name="textfield" type="text" id="string" value="" readonly></td>
        <td class="read mid"><input jflag="1" ng-datatype="number" ng-model="fjsxxGridlb.zspmDm" name="textfield" type="text" id="string" value="" readonly></td>
        <td class="read right"><input jflag="1" ng-datatype="number" ng-model="fjsxxGridlb.jsyj" name="textfield2" type="text" id="number" value="0.00" readonly></td>
        <td class="read right"><input jflag="1" ng-datatype="number" ng-model="fjsxxGridlb.sl1" name="textfield2" type="text" id="number" value="0.00" readonly></td>
        <td class="read right"><input jflag="1" ng-datatype="number" ng-model="fjsxxGridlb.ynse" name="textfield2" type="text" id="textfield" value="0.00" readonly></td>
		 <td class="read right"><input jflag="1" ng-datatype="number" ng-model="fjsxxGridlb.jmse" name="textfield2" type="text" id="textfield" value="0.00" readonly></td>
        <td class="read right"><input jflag="1" ng-datatype="number" ng-model="fjsxxGridlb.ybtsd" name="textfield2" type="textfield2" id="text" value="0.00" readonly></td>
      </tr>
  </table>
</div>



</div>
</body>
</html>
