<!doctype html>
<html id="ng-app"  xmlns:ng="http://angularjs.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=EDGE">
<title>汇总纳税企业消费税分配表</title>

</head>

<body>
 
<div style="width:96%; margin:auto;" id="viewCtrlId" ng-controller="viewCtrl" >
<div class="NewTableHead"   ng-jprefix="xfssbSbbdxxVO.xfsYlpfsb.xfssb2_fb2" >
     <h1>汇总纳税企业消费税分配表</h1>
     <li class="dateTxt">税款所属期:<input type="text" class="topInput"  ng-model="xfssb2_fb2.skssqq"  readonly> 至<input type="text" class="topInput"ng-model="xfssb2_fb2.skssqz" readonly>  </li>
</div>
 


<div class="NewTableMain"  ng-jprefix="xfssbSbbdxxVO.xfsYlpfsb.xfssb2_fb2.zjgForm" >
 <table width="100%" border="0" cellspacing="1" cellpadding="0"  >
  <tr>
    <td colspan="7" align="center" class="title01"><strong>总机构信息</strong></td>
    </tr>
  <tr>
    <td class="title01">总机构纳税人名称</td>
    <td class="read left"><input   ng-model="zjgForm.zjgnsrmc"  type="text"  readonly></td>
    <td align="center" class="title01">营业地址</td>
    <td class="read left"><input   ng-model="zjgForm.yydz"  type="text"  readonly></td>
    <td align="center" class="title01">联系电话</td>
    <td class="read left" colspan="2"><input   ng-model="zjgForm.lxdh"  type="text"  readonly></td>
    </tr>
  <tr>
    <td class="title01">法定代表人姓名</td>
    <td class="read left"><input   ng-model="zjgForm.fddbrxm"  type="text"  readonly></td>
    <td align="center" class="title01">开户银行</td>
    
<td class="read left">
<select ng-model="zjgForm.khyh" ng-options="key as value for (key,value) in CT."><option value=""></option></select>
</td>
    <td align="center" class="title01">银行账号</td>
    <td class="read left" colspan="2"><input   ng-model="zjgForm.yhzh"  type="text"  readonly></td>
    </tr>
  <tr>
    <td class="title01">办税人员</td>
    <td class="edit mid"><input   ng-model="zjgForm.bsrymc"  type="text" ></td>
    <td class="title01">办税人员电话号码</td>
    <td colspan="4" class="edit mid"><input   ng-model="zjgForm.dhhm"  type="text" ></td>
    </tr>
  <tr>
    <td class="title01">总机构纳税人识别号</td>
    <td class="title01">应补(退)税额</td>
    <td class="title01">总分机构销售额合计</td>
    <td class="title01">总机构销售收入</td>
    <td class="title01">总机构分配比例</td>
    <td class="title01" colspan="2">总机构分配税额</td>
    
  </tr>
  <tr>
    <td class="read left"><input   ng-model="zjgForm.zjgnsrsbh"  type="text"  readonly></td>
    <td class="read right"><input  ng-datatype="number" ng-model="zjgForm.ybtse"  type="text"   readonly></td>
    <td class="read right"><input  ng-datatype="number" ng-model="zjgForm.zfjgxsehj"  type="text"   readonly  ></td>
    <td class="edit right"><input  ng-datatype="number" ng-model="zjgForm.zjgxssr"  type="text"  ></td>
    <td class="edit right"><input     ng-datatype="number{6}" ng-model="zjgForm.zjgfpbl"  type="text"    init="init" ></td>
    <td class="edit right" colspan="2"><input  ng-datatype="number" ng-model="zjgForm.zjgfpse"  type="text"  ></td>
  </tr>
  <tr>
    <td colspan="7" align="center" class="title01"><strong>分支机构情况</strong></td>
  </tr>
  <tr>
    <td align="center" class="title01">序号</td>
    <td align="center" class="title01">分支机构纳税人识别号</td>
    <td align="center" class="title01">分支机构名称</td>
    <td align="center" class="title01">分支机构销售收入</td>
    <td align="center" class="title01">分支机构分配比例</td>
    <td align="center" class="title01">分支机构分配税额</td>
    <td align="center" class="title01">操作</td>
  </tr>
  <tr group="1"  ng-jprefix="xfssbSbbdxxVO.xfsYlpfsb.xfssb2_fb2.fzjgGrid.fzjgGridlb"   ng-repeat="p in  fzjgGridlb track by $index" ng-repeat-init="fzjgGridlb" 
 default-value='{"bhznsqynsrsbh":"","bhznsqynsrmc":"","fzjgxssr":0.00,"fzjgfpbl":0.000000,"fzjgfpse":0.00 }'>
    <td align="center" class="title01" ng-bind="p.ewbhxh=$index+1"></td>
    <td class="edit mid"><input   ng-model="p.bhznsqynsrsbh"  type="text"  readonly></td>
    <td class="edit mid"><input   ng-model="p.bhznsqynsrmc"  type="text"  readonly></td>
    <td class="edit right"><input  ng-datatype="number" ng-model="p.fzjgxssr"  type="text"   ></td>
    <td class="edit right"><input   ng-datatype="number{6}" ng-model="p.fzjgfpbl"  type="text"  ></td>
    <td class="edit right"><input  ng-datatype="number" ng-model="p.fzjgfpse"  type="text"  ></td>
    <td  align="center" >   
	      <div class="sbtnbox">     
		    <a class="sbtn sbtn01"  ng-href="#"  ng-click="add()">增加</a>&nbsp;&nbsp;&nbsp;
		    <a class="sbtn sbtn03" ng-if="$index!=0"   ng-href="#"  ng-click="del($index)">删除</a>
	      </div>
	</td>
    </tr>
    
      <tr  ng-jprefix="xfssbSbbdxxVO.xfsYlpfsb.xfssb2_fb2.fzjgGrid.fzjgGridlb" >
    <td align="center" class="title01">合计</td>
    <td align="center" class="read mid"><input     type="text"  value="— —" readonly></td>
    <td align="center" class="read mid"><input     type="text"  value="— —" readonly></td>
    <td class="read right"><input  ng-datatype="number" ng-model="fzjgGridlb.fzjgxssrhj"  type="text"  value="0.00" readonly ></td>
    <td class="read right"><input    ng-datatype="number{6}" ng-model="fzjgGridlb.fzjgfpblhj"  type="text"  readonly     ></td>
    <td class="read right"><input  ng-datatype="number" ng-model="fzjgGridlb.fzjgfpsehj"  type="text"  value="0.00" readonly></td>
    <td class="read right" readonly></td>
  </tr>
    <tr style="display: none;">
	 <td><input  ng-datatype="number" ng-model="fzjgfpsehj" type="hidden"></td>
   </tr>
</table>

</div>

 

</div>
</body>
</html>
